
@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

.tabs-newtab-button
{
	list-style-image: url(moz-icon://stock/tab-new?size=button) !important;
}

#home-button
{
	list-style-image: url('moz-icon://stock/go-home?size=button') !important;
	-moz-image-region: unset !important;
}

#open-file-button,
.downloadIconShow > .button-box > .button-icon
{
	list-style-image: url('moz-icon://stock/folder?size=button') !important;
	-moz-image-region: unset !important; 
}

/* ctr addon */
#ctraddon_back-button
{
	list-style-image: url('moz-icon://stock/go-previous?size=button') !important;
	-moz-image-region: unset !important;
}

#ctraddon_forward-button
{
	list-style-image: url('moz-icon://stock/go-next?size=button') !important;
	-moz-image-region: unset !important;
}

#ctraddon_reload-button
{
	list-style-image: url('moz-icon://stock/view-refresh?size=button') !important;
	-moz-image-region: unset !important;
}

#ctraddon_stop-button
{
	list-style-image: url('moz-icon://stock/process-stop?size=button') !important;
	-moz-image-region: unset !important;
}