
@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

.tabs-newtab-button
{
	list-style-image: url(moz-icon://stock/tab-new?size=button) !important;
}

#home-button
{
	list-style-image: url('moz-icon://stock/go-home?size=button') !important;
	-moz-image-region: unset !important;
}

#open-file-button,
.downloadIconShow > .button-box > .button-icon
{
	list-style-image: url('moz-icon://stock/folder?size=button') !important;
	-moz-image-region: unset !important; 
}

#bookmarks-menu-button
{
	list-style-image: url('moz-icon://stock/bookmark-new?size=button') !important;
	-moz-image-region: unset !important;
}

#bookmarks-menu-button[starred]
{
	list-style-image: url('moz-icon://stock/starred?size=button') !important;
}

#ctraddon_bookmarks-menu-toolbar-button,
#bookmarks-menu-button > .toolbarbutton-menubutton-dropmarker > .dropmarker-icon
{
	list-style-image: url('moz-icon://stock/user-bookmarks?size=button') !important;
	-moz-image-region: unset !important;
}

.bookmark-item[container][query]
{
	list-style-image: url('moz-icon://stock/folder-saved-search?size=button') !important;
}

#addons-notification-icon
{
	list-style-image: url('moz-icon://stock/application-x-addon?size=button') !important;
	-moz-image-region: unset !important;
}

/* ctr addon */
#ctraddon_back-button
{
	list-style-image: url('moz-icon://stock/go-previous?size=button') !important;
	-moz-image-region: unset !important;
}

#ctraddon_forward-button
{
	list-style-image: url('moz-icon://stock/go-next?size=button') !important;
	-moz-image-region: unset !important;
}

#ctraddon_reload-button
{
	list-style-image: url('moz-icon://stock/view-refresh?size=button') !important;
	-moz-image-region: unset !important;
}

#ctraddon_stop-button
{
	list-style-image: url('moz-icon://stock/process-stop?size=button') !important;
	-moz-image-region: unset !important;
}