
@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

#identity-icon
{
	list-style-image: url("identity/default.png") !important;
}

#identity-icon:hover
{
	list-style-image: url("identity/default-hover.png") !important;
}

.grantedPermissions > #identity-icon
{
	list-style-image: url("identity/notice.png") !important;
}

.grantedPermissions:hover > #identity-icon:hover
{
	list-style-image: url("identity/notice-hover.png") !important;
}

#identity-popup-securityView,
#identity-popup-security-content
{
	background-image: url('identity/conn-not-secure.png') !important;
}

#identity-popup-permissions-content
{
	background-image: url('identity/permissions.png') !important;
}